# Hugo build output
/public/
/resources/_gen/
/.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# Node (if used for tooling)
node_modules/

# Misc caches
.cache/
.sass-cache/
